.customize-control-izo-wpcolorpicker-alpha-color .wp-color-result {
	box-shadow: none;
}

.customize-control-izo-wpcolorpicker-alpha-color .wp-picker-input-wrap input[type="text"].wp-color-picker {
	float: left;
	width: 195px;
}

.customize-control-izo-wpcolorpicker-alpha-color .wp-color-result .wp-color-result-text {
	border-left: none;
}