.before-footer,
.site-footer {
    background-color: var(--color-dark-bg);
    color: var(--color-white-text);

    h1,h2,h3,h4,h5,h6,
    a {
        color: var(--color-white-text);
    }

    .underline {
        text-decoration: underline;
    }
}
.before-footer-inner,
.footer-widgets-inner {
    padding-top: 90px;
    padding-bottom: 90px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.site-info {
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    letter-spacing: 1px;

    &.fb-inline {
        .footer-social {
            text-align: right;
        }
    }

    &.fb-separate {
        text-align: center;
        .col {
            flex: 0 0 100%;
            width: 100%;
        }
        .footer-social {
            margin-top: 20px;
        }
    }
}
.footer-column {
    .widget {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
.before-footer-cta {
    h2 {
        margin: 0;
    }
    .col:last-of-type {
        text-align: right;
    }
}
.before-footer-social {
    text-align: center;

    a {
        margin-right: 40px;
        text-transform: uppercase;
        vertical-align: middle;
        letter-spacing: 1px;
        transition: all 0.3s;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    .voluto-icon {
        margin-right: 10px;
        line-height: 22px;
    }

    svg {
        width: 22px;
        height: 22px;
        fill: #fff;
    }
}
.footer-social {
    a {
        margin-right: 25px;

        &:last-of-type {
            margin-right: 0;
        }
    }
    svg {
        fill: #fff;
    }
}

.footer-featured {
    background-color: var(--color-light-background);
    padding-top: 60px;
    padding-bottom: 60px;

    .post-cats {
        margin-bottom: 5px;
    }

    .col-4 {
        padding-right: 0;
    }

    .entry-title {
        font-size: var(--font-size-sm);
        margin: 0;
    }

    .entry-meta {
        margin-top: 5px;
    }

    .footer-featured-title {
        margin-top: 0;
        margin-bottom: 30px;
    }
}