.top-bar {
    padding: 8px 0;
    font-size: var(--font-size-sm);
    background-color: var(--color-dark-bg);
    border-bottom: 1px solid var(--color-borders);
    color: var(--color-white-text);

    .column-right {
        text-align: right;
    }

    a {
        color: var(--color-white-text);
    }

    svg {
        fill: var(--color-white-text);
    }
}

.top-bar-social {
    a {
        display: inline-block;
        text-align: center;
        margin-right: 25px;
        line-height: 1;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.top-bar-contact {

    a {
        margin-right: 25px;
        transition: all 0.3s;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    svg {
        width: 14px;
        height: 14px;
    }
    .voluto-icon {
        line-height: 14px;
        margin-right: 5px;
    }
}