p {
	margin-top: 0;
	margin-bottom: 30px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

.voluto-icon {
	vertical-align: middle;
	fill: var(--color-text);

	svg {
		width: 16px;
		height: 16px;
	}
}

.wp-block-pullquote {
	padding: 0;
}
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
blockquote {
	border-left: 2px solid;
	padding-left: 30px;

	.wp-block-pullquote & {
		border: 0;
		padding: 30px;
		background-color: var(--color-light-background);
	}
}
.wp-block-pullquote.has-background {
	blockquote {
		background: transparent;
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
}

abbr,
acronym {
	border-bottom: 1px dotted var(--color-borders)-abbr;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
