.voluto-related {

	h3 {
		margin-top: 0;
	}

	.post-thumbnail {
		margin-bottom: 0;
	}
	.entry-title {
		font-size: var(--font-size-md) !important;

		a {
			color: var(--color-headings);

			&:hover {
				color: var(--color-accent);
			}
		}
	}

	h3 {
		margin-bottom: 20px;
	}

	.related-post {
		margin-bottom: 30px;

		&:last-of-type,
		&:nth-last-of-type(2),
		&:nth-last-of-type(3) {
			margin-bottom: 0;
		}
	}
}
.related-post {
	.entry-summary {
		margin-top: 15px;
	}
}

.voluto-author-bio {
	.author-about {
		color: var(--color-gray);
		font-size: var(--font-size-sm);
	}

	.avatar {
		border-radius: 50%;
	}

	.author-name {
		margin-top: 0;

		a {
			color: var(--color-headings);
		}
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

.post-navigation {
	
	h4 {
		margin: 5px 0 0;
		font-size: var(--font-size-md);
		transition: color 0.3s;

		&:hover {
			color: var(--color-accent);
		}
	}

	.post-nav-label {
		font-size: var(--font-size-sm);
		color: var(--color-gray);
	}
}

.voluto-sharing {
	margin-top: 60px;

	.sharing-icons {
		display: flex;
		flex-wrap: wrap;
	}

	.share-button {
		padding: 10px;
		line-height: 1;
		vertical-align: middle;
		transition: all 0.3s;
		flex-grow: 1;
		text-align: center;
		border-radius: 10px;
		margin-right: 10px;
		
		&:last-of-type {
			margin-right: 0;
		}

		svg {
			width: 20px;
			height: 20px;
			transition: all 0.3s;
			fill: var(--color-white-text);
		}

		&:hover {
			background-color: var(--color-dark-bg);
		}
	}
}

.share-button-facebook {
	background-color: #3b5998;
}
.share-button-twitter {
	background-color: #1da1f2;
}
.share-button-linkedin {
	background-color: #0a66c2;
}
.share-button-reddit {
	background-color: #ff4500;
}
.share-button-pinterest {
	background-color: #bd081c;
}
.share-button-whatsapp {
	background-color: #25d366;
}
.share-button-telegram {
	background-color: #0088cc;
}
.share-button-weibo {
	background-color: #ce1126;
}
.share-button-vk {
	background-color: #4a76a8;
}
.share-button-ok {
	background-color: #ee8208;
}
.share-button-xing {
	background-color: #006567;
}
.share-button-mail {
	background-color: var(--color-dark-bg);
}