a {
	color: var(--color-accent);
	text-decoration: none;
	transition: color 0.3s;

	&:visited {
		color: var(--color-accent);
	}

	&:hover,
	&:focus,
	&:active {
		color: var(--color-accent-dark);
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	.entry-content & {
		text-decoration: underline;
	}

	.product-name &,
	&.wp-block-button__link,
	&.remove,
	&.button {
		text-decoration: none;
	}
}