.align-right {
    text-align: right;
}

.sticky {
	display: block;
}

.post {
	margin: 0 0 50px;
}

.updated:not(.published) {
	display: none;
}

.entry-summary {
	p:last-of-type {
		margin-bottom: 0;
	}
}

.post-thumbnail {
	display: block;
	margin-bottom: 30px;
	border-radius: 10px;
	overflow: hidden;
}

.post-thumbnail-wrapper {
	position: relative;

	.post-cats {
		position: absolute;
		top: 15px;
		z-index: 11;
	}
}
.layout-list {
	.post-thumbnail-wrapper {	
		.post-cats {
			left: 30px;
			top: 15px;
		}
	}
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header {
	margin-bottom: 40px;
}

.er-icon {
	margin-right: 5px;
	vertical-align: middle;
	fill: #000;

	svg {
		width: 16px;
		height: 16px;
	}
}
.entry-title {

	a {
		color: var(--color-headings);
		text-decoration: none;

		&:hover {
			color: var(--color-accent);
		}
	}
}
.posts-loop {
	.content-grid > *:not(:last-child),
	.content-list > *:not(:last-child) {
		margin-bottom: var(--post-elements-spacing);
	}
	.content-grid > *:last-child,
	.content-list > *:last-child {
		margin-bottom: 0;
	}
	.post-thumbnail {
		display: block;
		margin-bottom: 0;
		transition: all 0.4s;

		img {
			transition: all 0.4s;
		}

		&.effect-opacity:hover {
			opacity: 0.7;
		}
		&.effect-zoomin:hover {
			img {
				transform: scale(1.2);
			}
		}
		&.effect-zoominr:hover {
			img {
				transform: scale(1.2) rotate(5deg);
			}
		}
	}

	.entry-title {
		margin-top: 0;
		font-size: var(--font-size-xl);
	
	}

	.entry-meta {
		display: inline-block;
	}
	
	&.card-style-boxed {
		.post-content-inner {
			padding: 30px;
			border: 1px solid var(--color-borders);
		}

		&.layout-grid {
			.post-content-inner {
				height: 100%;
			}
		}
	}

}

.no-sidebar {
	.posts-loop.layout-classic {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
}

.entry-meta {
	display: block;
	font-size: var(--font-size-sm);
	color: var(--color-gray);
	position: relative;

	&:not(.post-cats) {
		.single-post & {
			display: inline-block;
	
			.byline {
				text-align: left;
			}
		}
	}

	a {
		color: var(--color-gray);

		&:hover {
			color: var(--color-accent);
		}
	}

	.byline {
		font-weight: 600;

		a {
			color: #1c1c1c;
		}
	}

	.avatar {
		border-radius: 50%;
		vertical-align: middle;
		position: absolute;
		top: 0;
		left: 0;
		display: inline!important;
	}

	.post-data-text {
		padding-left: 32px;

		> * {
			display: inline-block;
		}

		.posted-on {
			&:before {
				display: inline-block;
				content: "";
				margin: 0 18px;
				width: 18px;
				height: 2px;
				background-color: #d6d6d6;
				vertical-align: middle;
			}
		}

		&.author-hidden {
			padding-left: 0;

			.posted-on {
				&:before {
					display: none;
				}
			}
		}
	}

	.col-3 {
		text-align: right;
	}
}

.read-more-link {
	display: block;
	color: var(--color-headings);
	text-decoration: underline;

	&:active,
	&:visited {
		color: var(--color-headings);
	}

	&:hover {
		color: var(--color-accent);
	}
}

.page-header {
	margin-top: 90px;
	margin-bottom: 60px;

	.archive-description {
		max-width: 800px;
	}
}

.archive-description {
	color: var(--color-gray);
	font-style: italic;
}

.single-post {
	.site-main {
		& > * {
			&:not(article) { 
				margin-top: 60px;
				padding-top: 60px;
				margin-bottom: 0;
				border-top: 1px solid var(--color-borders);
			}
		}
	}
}

.tags-links {
	a {
		border: 1px solid var(--color-borders);
		color: var(--color-text);
		margin-right: 5px;
		line-height: 1;
		padding: 3px 5px;
		transition: border-color 0.3s;

		&:hover {
			border-color: var(--color-headings);
		}
	}
}

body.no-sidebar {
	overflow-x: hidden;
}

.wp-block-cover__inner-container {
	max-width: 1110px;
}
.no-sidebar .entry-content .alignfull {
	margin: 30px calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;	
}
@media (min-width: 1024px) {
	.no-sidebar .entry-content .alignwide {
		margin: 30px calc(25% - 25vw);
		width: auto;
	}	
}

.entry-footer {
	margin-top: 30px;
}

.entry-content {
	.aligncenter,
	& > * {
		margin-bottom: 30px;
	}

	.wp-block-spacer {
		margin-bottom: 0;
	}
}


.post-cats a.has-cat-color {
	background-color: var(--cat-color);
}
.post-cats a.has-cat-color.has-link-cat {
	background-color: transparent;
	color: var(--cat-color);
}