/* Top Bar */
.top-navigation li {
    margin-top: 5px;
}

.top-bar-social a {
    display: none !important;
}

.combank-top-nav-deps-select, .combank-top-nav-deps-select:active, .combank-top-nav-deps-select:focus, .combank-top-nav-deps-select:hover {
    height: 25px;
    padding: 3px 15px;
    font-size: 12px;
    min-width: 150px;
    max-width: 230px;
    color: #3e4151;
    background-color: transparent;
    outline: none;
    margin: 8px 0 0 30px;
}

@media screen and (max-width: 1024px) {
    .top-nav-cmb-logo {
        display: none;
    }
}

.top-nav-cmb-logo {
    width: 280px;
}

.top-bar {
    background-color: #fafafa;
}

.top-bar a {
    color: #3e4151;
    font-size: 12px;
}

.top-bar a:hover {
    color: #1a60aa;
}