div.voluto-admin-notice {
	margin-left: 2px;
	padding-bottom: 15px;
	margin-top: 30px;
}
.voluto-admin-notice .theme-version {
    font-size: 13px;
    background: #e6e9ec;
    padding: 3px 5px;
    line-height: 1;
	margin-left: 10px;
	vertical-align: top;
	display: inline-block;
}