@media ( max-width: 1199px ) {
    .hero-layout-grid5 {
        .hero-inner {
            .hero-element:first-of-type {
                grid-column: 1 / span 4;
                min-height: 400px;
            }
            .hero-element {
                padding: 30px;
                grid-column: span 2;
            }
        }

    }
    .hero-layout-columns4 {
        margin-left: 15px;
        margin-right: 15px;        
        .hero-inner {
            .hero-element {
                padding: 30px;
                grid-column: span 2;
            }
        }        
    }
}

@media ( max-width: 1024px ) {
    .mobile-header {
        .col-8 {
            justify-content: flex-end;
        }
    }

    .hero-layout-grid5 .hero-inner .hero-element:first-of-type .entry-title, .hero-layout-default .hero-inner .hero-element:first-of-type .entry-title {
        font-size: var(--font-size-3xl);
    }
    .wp-block-cover__inner-container {
		padding-left: 30px;
		padding-right: 30px;
	}
    .hero-layout-default {
        margin-left: 15px;
        margin-right: 15px;
        .hero-inner {
            .hero-element:first-of-type {
                grid-column: 1 / span 6;
                min-height: 400px;
            }
            .hero-element {
                grid-column: span 3;
            }
        }
    }

    .hero-layout-mixed {
        margin-left: 15px;
        margin-right: 15px;

        .hero-inner {
            display: block;
        }

        .hero-element-list {
           padding-top: 30px;
        }
    } 
}

@media ( max-width: 991px ) {
    :root {
        --font-size-xl: 1.25rem;
        --font-size-2xl: 1.5rem;
        --font-size-3xl: 2rem;
        --font-size-4xl: 2.375rem; 
    }

    .site-main {
        padding-right: 0;
        width: 100%;
    }

    .widget-area {
        max-width: 100%;
        margin-top: 40px;
    }
    .before-footer-inner,
    .footer-widgets-inner {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .footer-column {
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .widget {
        margin-bottom: 30px;
    }

    .wp-block-post-template.is-flex-container.is-flex-container.columns-4>li,
    .wp-block-query-loop.is-flex-container.is-flex-container.columns-4>li {
        width: calc(50% - 1.25em);
    }
  
    .wp-block-post-template.is-flex-container.columns-4 li, 
    .wp-block-query-loop.is-flex-container.columns-4 li {
        margin-right: 2.5em;
    }

    .wp-block-post-template.is-flex-container.is-flex-container.columns-4>li:nth-child(2n),
    .wp-block-query-loop.is-flex-container.is-flex-container.columns-4>li:nth-child(2n) {
        margin-right: 0;
    }   
    
    .wp-block-columns.columns-stack-991 {
        flex-wrap: wrap;

        & > .wp-block-column {
            flex-basis: 100% !important;
            margin-left: 0;
            margin-bottom: 30px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .wp-block-post-template .wp-block-column>*:last-child {
        margin-bottom: 12px;
    }

    .footer-featured {
        .col-md-6:first-child,
        .col-md-6:nth-of-type(2) {
            margin-bottom: 15px;
        }
    }
}

@media ( max-width: 767px ) {
    .top-bar,
    .top-bar .column-right {
        text-align: center;
    }
    .top-bar .col-md-6:last-of-type {
        margin-top: 5px;
    }

    .top-navigation ul {
        justify-content: center;
    }

    .hero-layout-default {
        .hero-inner {
            .hero-element:first-of-type,
            .hero-element {
                grid-column: span 6;
                min-height: 320px;
               
                .entry-title {
                    font-size: var(--font-size-lg);
                    max-width: 100%;
                }                 
            }
        }
    } 
    
    .hero-layout-grid5 {
        .hero-inner {
            .hero-element:first-of-type,
            .hero-element {
                grid-column: span 4;
                min-height: 320px;
               
                .entry-title {
                    font-size: var(--font-size-lg);
                    max-width: 100%;
                }                 
            }
        }
    }     
    .hero-layout-columns4 {
        .hero-inner {
            .hero-element {
                grid-column: span 4;
                min-height: 320px;
            }
        }
    }

    .navigation.post-navigation {
        .col-md-6:last-of-type {
            margin-top: 20px;
        }
    }

    .voluto-related {
        .related-post {
            margin-bottom: 20px !important;
        }
    }

    .single-post .site-main>*:not(article) {
        margin-top: 30px;
        padding-top: 30px;
    }

    .woocommerce-results-wrapper {
        text-align: left;

        .align-right {
            margin-top: 15px;
            text-align: left;
        }
    }

    .voluto-main-container {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .wp-block-columns.columns-stack-767 {
        flex-wrap: wrap;

        & > .wp-block-column {
            flex-basis: 100% !important;
            margin-left: 0;
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }    
}

@media ( max-width: 575px ) {
    :root {
        --font-size-2xl: 1.25rem;
        --font-size-3xl: 1.5rem;
        --font-size-4xl: 2rem; 
    }

    .before-footer-cta {
        .col {
            width: 100%;
            flex-basis: 100%;
            text-align: center;

            &:last-of-type {
                text-align: center;
                margin-top: 30px;
            }
        }
    }
    .before-footer-inner,
    .footer-widgets-inner {
        padding-top: 30px;
        padding-bottom: 30px;
    }    
    .site-info {
        padding-bottom: 30px;
    }

    .posts-loop .post-thumbnail {
        margin-bottom: 14px;
    }

    .wp-block-post-template.is-flex-container.is-flex-container.columns-4>li,
    .wp-block-query-loop.is-flex-container.is-flex-container.columns-4>li {
        width: 100%;
        margin-right: 0;
    }  
    .footer-featured {
        .col-md-6 {
            margin-bottom: 15px;
        }
    }      

    .footer-featured {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}