/*
CTC Separate Stylesheet
Updated: 2022-02-23 08:14:34
*/

.avatar {
    display: none !important;
}

.top-navigation li {
    margin-top: 5px;
}

.top-bar-social a {
    display: none !important;
}

.combank-top-nav-deps-select, .combank-top-nav-deps-select:active, .combank-top-nav-deps-select:focus, .combank-top-nav-deps-select:hover {
    height: 25px;
    padding: 3px 15px;
    font-size: 12px;
    max-width: 250px;
    color: #fff;
    background-color: transparent;
    outline: none;
}